html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

input[type=text]{
    border: none;
    border-bottom: 1px solid #d7d7d7;
}

div.dhxlayout_base_material div.dhx_cell_layout div.dhx_cell_hdr{
    background-color: white;
    color: #8c8c8c;
    border-bottom: solid 1px #52daff;
    box-shadow: 0 0 0 3 black;
}

div.dhxcombolist_material div.dhxcombo_option.dhxcombo_option_selected{
    background-color: #f5f5f5;
}

div.dhxcombo_material.dhxcombo_actv{
    padding-bottom: 0;
    border-bottom: 2px solid #52daff;
}

div.dhxform_control{

}

.cor-padrao{
    background-color: rgba(62, 155, 186, 0.78) !important;
}

.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side div.dhxsidebar_side_items div.dhxsidebar_item{
    background-color: #23282c;
    border: none;
    color: white;
}

.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side div.dhxsidebar_side_items div.dhxsidebar_item.dhxsidebar_item_selected{
    border: none;
    background-color: #4c5257;
    border-left: 2px solid #52daff;
}

.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side div.dhxsidebar_side_items div.dhxsidebar_item:hover{
    background-color: #494949;
    border-left: 2px solid #52daff;
}

.dhxsidebar_base_material div.dhxsidebar_cont div.dhxsidebar_side{
    background-color: #23282c;
    border: 0;
}

.dhxlayout_base_material div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_hdr{
    color: black;
}
.dhxlayout_arrow dhxlayout_arrow_ha{
    color: black;
}
.dhxlayout_arrow dhxlayout_arrow_ha{
    color: black;
}




